<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/javascripts/draw.js" ></script>
    <script src="/javascripts/colorpicker.js" ></script>
    <script src="/javascripts/javascript.js"defer ></script>
  <!---->  <script src="/javascripts/slider.js"defer></script>
    
  <!---  <script src ="javascripts/form.js" defer></script>-->
    
    <title>Document</title>
</head>
<body>
    <link rel="">
    
        <%-include('../partials/header')%>
    <%-body%>
    <h1 id="printlog"> text goes here... </h1>
    <main  height = '300' style="font-size: 0; display: block; height: max-content; width: 100%;" >
        <h1>Canvas</h1>
        <canvas id="main_canvas" width="50" height="50" style="background-color: rgb(255, 255, 255);border: 1px; margin: 250px;"></canvas>
        
       <!-- <canvas id="another" width="100" height="100" style="background-color: rgb(255, 255, 255);"></canvas>-->
        
    </main>
    
</body>


</html>